
<%- include partials/header.ejs %>




  <section id="header" class="py-5 bg-info text-light text-center">
    <div class="container">
      <h1> Migration </h1>
      <h3 class="mb-0"> Welcome to our Database! </h3>
    </div>
  </section>




  <section id="form" class="py-5 bg-light text-light">
    <div class="container">
      <div class="row">

        <div class="col-md-6 mx-auto">
          <form id="editSample" method="post" action="/edit/<%= sample._id %>">
          
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" name="textID" id="textID" placeholder="10 digit ID">
            </div>
            
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" name="textAge" id="textAge" placeholder="Age">
            </div>
            
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" name="textGender" id="textGender" placeholder="Gender">
            </div>
            
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" name="textProff" id="textProff" placeholder="Profession">
            </div>
            
            <div class="form-group">
              <textarea class="form-control form-control-lg" name="textDistrict" id="textDistrict" rows="1" placeholder="District"></textarea>
            </div>


            <div class="form-group">
              <textarea class="form-control form-control-lg" name="textDateIn" id="textDateIn" rows="1" placeholder="Date In"></textarea>
            </div>

            <div class="form-group">
              <textarea class="form-control form-control-lg" name="textDateOut" id="textDateOut" rows="1" placeholder="Date Out"></textarea>
            </div>

             <div class="form-group">
              <textarea class="form-control form-control-lg" name="textInterest" id="textInterest" rows="1" placeholder="Interest"></textarea>
            </div>

            <div class="form-group">
              <textarea class="form-control form-control-lg" name="textPersonalView" id="textPersonalView" rows="10" placeholder="Personal View"></textarea>
            </div>
            
            
            
             <div class="d-flex">
            <button class="btn btn-outline-success btn-lg" type="submit">Edit Sample</button>
            <a href="/" class="btn btn-outline-primary btn-lg ml-auto">Cancel</a>
          </div>
            
          </form>
        </div>

      </div>
    </div>
  </section>
  

<%- include partials/footer.ejs %>





